<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="AlexnaConnectionString" connectionString="Data Source=DESKTOP-BHUC62C\SQLEXPRESS;Initial Catalog=Alexna;Persist Security Info=True;User ID=alexna;Password=Academia"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Alexna.Services.Login">
        <endpoint address="" behaviorConfiguration="Alexna.Services.LoginAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Alexna.Interfaces.ILogin" />
      </service>
      <service name="Alexna.Services.Usuario">
        <endpoint address="" behaviorConfiguration="Alexna.Services.LoginAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Alexna.Interfaces.IUsuario" />
      </service>
      <service name="Alexna.Services.SvcFestivos">
        <endpoint address="" behaviorConfiguration="Alexna.Services.LoginAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Alexna.Interfaces.IFestivo" />
      </service>
      <service name="Alexna.Services.SvcCursos">
        <endpoint address="" behaviorConfiguration="Alexna.Services.LoginAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Alexna.Interfaces.ICurso" />
      </service>
      <service name="Alexna.Services.SvcAsignaturas">
        <endpoint address="" behaviorConfiguration="Alexna.Services.LoginAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Alexna.Interfaces.IAsignatura" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Alexna.Services.LoginAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Alexna.Services.SvcCursosAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Alexna.Services.SvcAsignaturasAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="/Paginas/Login.html"/>
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
